# Xcode
#
 gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

*.plist
kyberchat/kyberchat/GoogleService-Info.plist

quantchat-server-firebase-adminsdk-fbsvc-1d526683e9.json

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

CLAUDE.md

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# ----------------------------
# Emacs temporary & backup files
# ----------------------------

# Backup files
*~
\#*\#

# Auto-save files
.#*
#*#

# Lock files
.#*

# Compiled Emacs Lisp
*.elc

# Org-mode export files
*.org~
*.org_archive

# Tramp files
/tramp

# Projectile cache
.projectile

# LSP mode
.lsp-session-v1


# Session files
.session
.session.*

# Desktop save files
.emacs.desktop
.emacs.desktop.lock

# Directory local variables (if you don’t want them shared)
.dir-locals-2.el

.DS-Store
cloudbuild.yaml
